<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SaveFileDefaultLocation" value="C:\Temp"/>
    <add key="IconCacheFolder" value="\FileIconCollection\"/>
    <add key="IconCustomCollectionFolder" value="\CustomIconsCollection"/>
    <add key="FolderIconName" value="filestore.png"/>
    <add key="ErrorIconName" value="ErrorFileIcon.ico"/>
  </appSettings>
</configuration>